
@import url('../../../variables.css');

.text-area-input {
    display: grid;
    grid-template-rows: 1fr;
}

.text-area-input * {
    --form-textinput-font-size: 1.2rem;
}

.text-area-input label, .text-area-input textarea {
    font-family: var(--font-family);
}

.labelled {
    grid-template-rows: var(--form-textinput-font-size) 1fr;
}

.text-area-input label {
    font-size: var(--form-textinput-font-size);
}

.text-area-input textarea:focus {
    filter: drop-shadow(0px 0px 5px rgba(var(--blue-color-light-rgb), 1));
}

.text-area-input textarea {

    padding: var(--padding-small);
    border: 1px solid var(--primary-light);
    font-size: var(--form-textinput-font-size);
    text-shadow: 0px 0px 5px rgba(var(--primary-light-rgb), 0.4);
    color:rgba(var(--primary-light-rgb), 1);

    background-color: transparent;
    outline: transparent;
    clip-path: var(--clip);
    position: relative;
}

.text-area-input textarea::placeholder {
    color: rgba(var(--primary-rgb), 1);
}

.text-area-input textarea:focus::placeholder {
    opacity:  0;
}
